<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>COULY</display-name> 
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Connexion</servlet-name> 
		<servlet-class>Login</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>Connexion</servlet-name> 
		<url-pattern>/login</url-pattern> 
	</servlet-mapping>
	<servlet>
		<servlet-name>ListeMessages</servlet-name>
		<servlet-class>GetMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListeMessages</servlet-name>
		<url-pattern>/messages</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddComment</servlet-name>
		<servlet-class>AddComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddComment</servlet-name>
		<url-pattern>/addComment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Reply</servlet-name>
		<servlet-class>Reply</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reply</servlet-name>
		<url-pattern>/reply</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveComment</servlet-name>
		<servlet-class>RemoveComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveComment</servlet-name>
		<url-pattern>/removeComment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Follow</servlet-name>
		<servlet-class>Follow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Follow</servlet-name>
		<url-pattern>/follow</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Unfollow</servlet-name>
		<servlet-class>Unfollow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Unfollow</servlet-name>
		<url-pattern>/unfollow</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetFollowing</servlet-name>
		<servlet-class>GetFollowing</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetFollowing</servlet-name>
		<url-pattern>/getFollowing</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetFollower</servlet-name>
		<servlet-class>GetFollower</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetFollower</servlet-name>
		<url-pattern>/getFollower</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetProfile</servlet-name>
		<servlet-class>GetProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetProfile</servlet-name>
		<url-pattern>/getProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Like</servlet-name>
		<servlet-class>Like</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Like</servlet-name>
		<url-pattern>/like</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dislike</servlet-name>
		<servlet-class>Dislike</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dislike</servlet-name>
		<url-pattern>/dislike</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetLike</servlet-name>
		<servlet-class>GetLike</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetLike</servlet-name>
		<url-pattern>/getLike</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>UpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Digest</servlet-name>
		<servlet-class>Digest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Digest</servlet-name>
		<url-pattern>/digest</url-pattern>
	</servlet-mapping>
</web-app>


<!--  Fait en binome avec 3407786 le bon bro -->
